.nowrap {
  white-space: nowrap;
}

.d-flex-vertical-center {
  display: flex;
  align-items: center;
}

.d-flex-center {
  justify-content: center;
}

.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.text-capitalize {
  text-transform: capitalize;

  .el-input__inner {
    text-transform: capitalize;
  }
}

.width-auto {
  width: auto;
}

@media (min-width: 768px) {
}
